<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780512451149-3m1rnj39cuf4lkaob054ek9njenfdot6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780512451149-3m1rnj39cuf4lkaob054ek9njenfdot6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>780512451149-09diks11m8tg310h5tffptlcc4brohjo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClojxnfeR0e43VStkVR2vw4arcZWXKY-I</string>
	<key>GCM_SENDER_ID</key>
	<string>780512451149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.divinemotherhood</string>
	<key>PROJECT_ID</key>
	<string>divine-motherhood-web</string>
	<key>STORAGE_BUCKET</key>
	<string>divine-motherhood-web.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780512451149:ios:6b73a375952319803c9a04</string>
</dict>
</plist>